
@{
    ViewData["Title"] = "Quantidade de Litros";
}

<div class="text-center mt-3">

        <h1>Calculadora de Pintura</h1>

        <p>Calcule o quanto será necessário para a sua pintura.</p>

    </div>



<div class="container mt-5">

                <div class="row justify-content-center">

                    <div class="col-4">

                        <div class="card border-primary mb-3" style="max-width: 18rem;">

                            <div class="card-body">

                                <h5 class="card-title">Você presisará de:</h5>

                                <h1 class="card-text" style="color: red">@ViewBag.Litros</h1><p>litros de tinta para pintar o cômodo.</p>

                            </div>

                        </div>

                    </div>

                </div>

            </div>

